# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
env/
venv/
ENV/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all CSV files
*.csv

# But include CSV files inside the data/ folder
!data/
!data/*.csv

# System files
.DS_Store
Thumbs.db

# Ignore VS Code settings (optional)
.vscode/

# Ignore logs and temp files
*.log
*.tmp
